@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

.home-title {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #d8e2dc;
  z-index: 2;
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.home-detail {
  position: absolute;
  top: 47%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #d8e2dc;
  z-index: 2;
  -webkit-animation: text-focus-in-detail cubic-bezier(0.55, 0.085, 0.68, 0.53)
    2.2s both;
  animation: text-focus-in-detail 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2.2s
    both;
}

/**
 * ----------------------------------------
 * animation button hower
 * ----------------------------------------
 */

.wrapper {
  position: absolute;
  z-index: 2;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* Style the Un-order list by setting its list-style to none */

.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
    and float them to left and set its border and border-radius.
   */

.wrapper ul li {
  width: 115px;
  height: 115px;
  line-height: 100px;
  margin: 0 10px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid #d8e2dc;
  float: left;
  transition: all 0.5s ease;

  // unselectable text
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */

.wrapper ul li .fa {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.rahn {
  color: #d8e2dc;
  font-family: "Lalezar", cursive;
  font-size: 25px;
  cursor: pointer;
  color: #d8e2dc;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.255, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.255, 0.085, 0.68, 0.53) both;
}

.sale {
  color: #d8e2dc;
  font-family: "Lalezar", cursive;
  font-size: 25px;
  cursor: pointer;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.255, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.255, 0.085, 0.68, 0.53) both;
}

.rahn2 {
  color: #d8e2dc;
  font-family: "Lalezar", cursive;
  font-size: 25px;
  cursor: pointer;
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.255, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.255, 0.085, 0.68, 0.53) both;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
    to icons for glowing effect and use transition property for smooth transition effect. */

/*facebook*/

.wrapper ul li:hover.facebook {
  border: 5px solid #ff893b;
  box-shadow: 0 0 15px #ff893b;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .rahn {
  color: #ff893b;
  text-shadow: 0 0 15px #ff893b;
  transition: all 0.5s ease;
}

/*twitter*/

.wrapper ul li:hover.twitter {
  border: 5px solid #ffeb3b;
  box-shadow: 0 0 15px #ffeb3b;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .sale {
  color: #ffeb3b;
  text-shadow: 0 0 15px #ffeb3b;
  transition: all 0.5s ease;
}

/* instagram */

.wrapper ul li:hover.instagram {
  border: 5px solid #b1ff3b;
  box-shadow: 0 0 15px #b1ff3b;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .rahn2 {
  color: #b1ff3b;
  text-shadow: 0 0 15px #b1ff3b;
  transition: all 0.5s ease;
}

/**
* ----------------------------------------
* animation bounce-in-top
* ----------------------------------------
*/

// .facebook {
//   // animation: bounce-in-top 1.5s both;

// }
.facebook {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s both;
}
.twitter {
  // animation: bounce-in-top 1.6s both;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}
.instagram {
  // animation: bounce-in-top 1.7s both;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-10-19 3:17:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-10-14 4:9:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2020-10-19 3:34:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2020-10-19 4:15:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in-detail {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in-detail {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2020-10-19 4:32:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@media (max-width: 500px) {
  .rahn2 {
    font-size: 17px;
  }
  .sale {
    font-size: 17px;
  }
  .rahn {
    font-size: 17px;
  }

  .wrapper ul li {
    width: 85px;
    height: 85px;
    line-height: 70px;
  }

  .home-title {
    top: 35%;
    font-size: 25px;
  }
  .home-detail {
    font-size: 15px;
  }
}
